<body>
	<div id="topnav_wrap">
		<div id="nav">
			<a href="#/" use:active>ErgoZage Blogs</a>
			<a href="#/Goal" use:active>My Goal</a>
			<a href="/blog/rss.xml">RSSFeed</a>
		</div> 
	</div>

<!-- Show the router -->
<Router {routes} />
</body>



<script>
	// Import the router component
	import Router from 'svelte-spa-router'
	import active from 'svelte-spa-router/active'
	// Import the list of routes
	import routes from './routes'
</script>

<style>

   body {
		font-family: 'Lucida Sans', monospace;
	}
	
	/* Style for "active" links; need to mark this :global because the router adds the class directly */
	:global(a.active) {
		color:#f57b42;
	}

	#topnav_wrap {
		box-shadow: 0 4px 6px -3px rgba(0,0,0,.2);
		width: 100%;
	}
	
	#nav {
		display: flex; 
		justify-content: center;
	}

	#nav a {
		float: center;
		text-align: center;
		padding: 10px;
		margin: 5px;
		font-size: 19px;
	}

</style>