<Blog PostLocation='EngineeringIdeas'>
    <h1>Ideas in Engineering</h1>
    <p>In my <a href="#/EasyBlogging">first blog</a>, I have referenced <a href='https://www.youtube.com/watch?v=dSCBCk4xVa0' target='_blank' >John Carmack Video</a> and quoted him on "how to be really smart". <br/> 
       His talk is focused on something rather important in Engineering but also in Life:</p>
      <p><b><i>How ideas are to be nurtured!</i></b> And some of the most common pitfalls to be wary about.<br/>
       <i>[From 3:30 in the video to 12:35 (after this point he goes into examples of real-world ideas he had)]</i></p>
    
    <h2>Research is not about a single moment, lightbulb brilliant ideas - it's about a whole lot of work that leads to them</h2>
    <p> This is not to say lightbulb ideas don't exist. However, you get the best ideas mostly by being "down there in the mud" working on the problems.<br/>
    <u> It's the hard work that leads you to the insights that will hopefully grow into great ideas!</u></p>

    <h2>Lots of your ideas won't work out - you will need to produce a lot more!</h2>
    <p><u>It is very important to go and build them, try to make them happen or at least prototype them.</u><br/>
       In most cases this process will prove your idea wrong - your great idea will turn out to be not so great!</p>
    <p> This is completely fine, you should not be afraid of this process and hold on to your "precious" ideas.<br/>
       You need to have a dozen of them knocked down before you find that one decent enough to work!</p>
    
    <h2>Ideas are <b>NOT</b> the important thing</h2>
    <p><u>Execution is much more important than this original core idea!</u><br/>
       A Good project is a result of hundreds and hundreds, even thousands of good decisions that are made along the way.</p>

    <h2>Focus your efforts on GOOD implementation</h2>
    <p>You can start with a good idea, but if the implementation is NOT good - it's gonna fail.<br/>
       You need to put a lot of effort into good implementation<br/>
       Ideas come and go, however, it's important not to miss that good one because of poor craftsmanship!</p>

    <h2>"Oh this will be a brilliant killer Idea"</h2>
    <p>You got <b><i>"this killer idea"</i></b> and it's so valuable that you latch on to it and won't let go!<br/>
       You are jealousy-guarding your idea and reason about it irrationally.<br/>
       It's important to recognize this state and let go - not to get fixated so much that you are stuck in time and place but move on. </p>
    <p><u>In my opinion, there are two crucial things to consider that may help:</u><br>
       &nbsp;1)Go and build/prototype right away when the idea is clear. Sometimes is fine to "sleep" a bit on the idea but not for too long.<br/>
       &nbsp;&nbsp;&nbsp;If you haven't improved/changed your idea for some time then it's time to go and see if it works - don't let it get dusty!<br/>
       &nbsp;2)Try to set clear and measurable goals and time constraints. <u>You have a limited amount of time and focus, protect it!</u></p>

    <h2>Assigning LOW VALUE to Ideas</h2>
    <p>There is some value in NOT giving a lot of power and importance to ideas.<br/>
       This can be considered a <b><i>"psychological hack"</i></b> - tricking yourself into not spending time in ways that are not going to be as productive.<br/>
       You say "ideas come, ideas go" - be critical and don't get attached, there are a lot of ideas to come!</p>

    <h2>With time and practices comes experience</h2>
    <p>Only once you have busted enough ideas (maybe you found a couple of good ones) you will understand them on a higher level.<br/>
       Even when you hear or think of some very promising idea - "if this idea works it will be so great" you will start recognizing intuitively that it probably won't work.<br/>
       You will start playing this puzzle-like game of busting these ideas even before you go and try them out.</p>
   
    <h2><u>My personal experience</u></h2>
    <p>I have two very good examples of nurturing ideas wrongly:</p>
    <p><u>First is this blog:</u> <br/>
      The idea of starting a blog was boiling in my mind for so long. I read about it so much and got excited about the benefits.<br/>
      However, I just let it sleep without doing any action for years...<br/>
      But hey you are reading this blog right now! The saying goes: "You do it when you are ready", and I guess I was not ready until now!</p>
    
    <p><u>Second is some engineering idea:</u><br/>
    After almost 3 years of sitting on this great killer idea, I finally went into making it happen!<br/>
    And the first thing I discovered is exactly what John Carmack is saying, implementation is more important than the idea!<br/>
    I needed to implement my idea 3 times to get it right.</p>
    <p>The first two times I just failed gloriously but got some learnings from it, the third time was the charm!<br/>
    <u>To make it happen I needed to examine closely my Engineering practices</u>, narrow down what I am doing wrong and change it!<br/>
    This required a lot of time and energy, however, I become a better Engineer in the process!<br/>
    I now understand even better than before that you always need to be on the lookout for improvement.</p>
    <p>Also, without any mistakes, <u>my "Brilliant killer Idea" has proven to be not so good, with a lot of holes in it.</u><br/> 
      However, working through the implementation and being "down there in the mud" gave me a lot of new perspectives on how to improve this idea!<br/>
      And this is also one of the important points John is trying to convey, by simply doing it you will get inspired, get more ideas and improve current ones!</p>
   <h3>In other words: just do it!</h3>
</Blog>

<script>
    import Blog from './blog_base.svelte'
</script>


