<Blog PostLocation='EasyBlogging'>
<h1>The best way to be really smart is to figure out why you don't need to be really smart!</h1>
<p>I once heard this in a <a href='https://www.youtube.com/watch?v=dSCBCk4xVa0#t=3m' target='_blank' >Video</a> where a really smart guy (<a href='https://en.wikipedia.org/wiki/John_Carmack' target='_blank'>John Carmack</a>) gave an interesting talk.<br/>
   I keep this on the whiteboard above my monitor so I can frequently read it. I want this thinking always in my head when there is a fresh new problem to solve!</p>
<h2>What's the easiest and best way for me to blog?</h2>
<p>After some initial research, I stopped and asked myself this question.<br/>
   What would be easy for me as a Software Developer - I write code each day for a living (I am not a web developer)</p>
<p>Here are a couple of interesting observations & trains of thoughts:</p>
<h2>1) I track everything I do on GIT - so why not blog?</h2>
<p> The first, important realization was this. I don't need to hassle with any management system, database, etc when there is GIT.<br/>
    Keeping track of my blog 'in code' via GIT would be sweet!</p>
<h2>2) Maybe this GIT and Code story is too complex, why not just use some platform already there?</h2>
<p> I was thinking about Medium but after doing a bit of research I found that people are not happy with it.<br/>
    It seems that Medium pushes content in front and suppresses the author so you end up just reading a lot of content but you don't have an idea who created it.<br/>
    Also at this step, I figured out one important thing - <u>I want to have full control over my blog!</u><br/> 
    I don't want to be a part of some herd and not own my content. So medium/reddit/imgur etc went down the drain...
</p>
<h2>3) I want to control and <u>own my blog</u> - does this imply I have to work a lot and deal with great complexity to achieve my independence?</h2>
<p>After more googling around I found a lot of potential candidates for how to generate webpage content.<br/>For one WordPress powered blogs seems to be the most popular.<br/>
   Besides WordPress, there are also a lot of static webpage generators.<br/>
   To be honest with you - I tried both and I didn't like them for various reasons.<br/> 
   WordPress involved too much UI for my taste and the static webpage content generators didn't sound good, to begin with. </p>
<p>I again stopped for a bit and asked myself, <b>how to do this so you don't have to be 'really smart' - and to get a decent amount of satisfaction and pride from the solution?</b></p>
<h2>4) The Blog is a webpage like any other, right?</h2>
<p>This sounded to me like a completely correct statement.<br/> 
   Going a bit further down the hole it could be even said that it's just a simple <b>static webpage</b>!<br/>
   There is no need for any "dynamically" changing content in runtime.</p>
<p>When simplified like this then the simplest conclusion is: why not just use plain old html/css/javascript to wrap the blog content into static webpage?<br/>
   For sure this could be done with plain html/javascript/css however I thought in this day and age of 1000 web frameworks there must be something rather simple that gives a bit of an edge right?</p>
<h2>5) Enter <a href='https://svelte.dev/' target='_blank'>SvelteJS</a></h2>
<p>I am impressed with this framework. Firstly I liked the idea of just having a compiler that spits out html/javascript/css that works!</p>
<p>It was simple to start playing around with it (install npm & do npx degit sveltejs/template my-svelte-project).<br/> 
   I was up and running being productive and understanding all the important bits in just a couple of hours I felt ready.<br/>
   Once again I have very limited web dev experience, I mostly know a bit of html/js/css but Svelte was so easy to get into and understand everything so fast, I am impressed with it!<br> 
   So just like that, I found my web framework of choice! I am going to use Svelte to generate a static blog webpage!</p>
<h2>6) Use GIT to version everything + Svelte to create a static webpage - but how to host a webpage?</h2>
<p>Now I started reading how it's not worth it if you don't pay for hosting yourself and buy a domain.<br/>
   I didn't have any problem paying as I wanted to be serious about blogging so I continue down this route.<br/>
   So I continue reading about how to host a webpage on the cloud, how to pay and maintain payments. How to buy a domain to pay it each year, and how to link your domain with hosting, DNS, make it secure, etc.</p>
<p>I again stopped and asked myself is it possible that I have to deal with all of this just to get my static - mostly text-based webpage out there?<br/>
   <b>There's gotta be a better way where I don't have to be that smart nor work this hard!</b></p>
<h2>7) GitHub/GitLab pages</h2>
<p>This sounded immediately like it will answer all of my prayers!<br/>
   It's a secure static webpage hosting directly on your free GIT server that everyone uses with very little config around it.<br/>
   There is no need to make additional accounts, nothing.<br/> 
   It's like your webpage lives with your code, <b>sounds like a charm!</b></p>
<h2>8) But wait, I do want some dynamic content!?</h2>
<p>One thing that is nice to have is comments on blog posts or general discussion.<br/>
   So what now everything falls apart?<br/>
   Well, now it's too good and easy to give up on everything so far just to have comments and reactions from people reading.<br/>
   <s>So in my case, I decided to link each blog post with a Reddit post - so I won't reinvent the wheel with this one!</s><br/>
   <b>UPDATE[26/mar/2021]: Reddit has flagged my posts as spam, I am not sure for what reason but I need to find some alternative...</b></p>

<h2>9) In the end, what is the setup?</h2>
<p>I use GitLab for versioning of code/blog <a href='https://gitlab.com/ergozage/blog/' target='_blank'>https://gitlab.com/ergozage/blog/</a>.<br/>
   It's a public repo(it can be private also there are no limitations here) - the same could be done with GitHub.<br/>
   Deployment of the webpage is configured with a couple of lines in a config file.<br/>
   This just copies over the content of the public folder to some GitLab server on change to a specified GIT branch.<br/>
   <b>An in-depth explanation of the processes is in the GitLab repo itself!</b></p>
<h3><u>I now just have to focus on blog content with zero overhead and compromises</u></h3>
<h3>I don't have to look at complex User Interfaces, nor think about paying, opening/managing multiple accounts, and clicking any buttons!<br/>
    Everything is done from the safety of my keyboard, text editor and terminal - this is the most efficient way and exactly how I like it to be!</h3>
</Blog>

<script>
    import Blog from './blog_base.svelte'
</script>

<style>

</style>