<Blog PostLocation='Goal'>
    <h1>Why am I starting a blog?</h1>
    <p>For me, it's not about telling you who I am and what I do. <br/> 
        By reading my blog you will surely learn a bit about me, however, that is a side effect and not my main focus!</p>
    <u><b>So what is it then, what's the goal?</b></u>
    <p>I am starting a blog to help myself develop some new habits and go <b>'through the motion'</b> of learning something new.</p>
    <p>Are you puzzled? What I am talking about? How can blogging help me achieve this? Here is my reasoning:</p>
    <h2>1) Hold me accountable</h2>
    <p>Putting my content out there, in the "ether" for anyone to see. However, even more importantly I will be able to see it! <br/>
        It's making a public statement or for me a decision!
    </p>
    <h2>2) I learn most effectively by writing and explanting</h2>
    <p><b>Pen and Paper</b> have proven very useful so far in my life. <br/>
        If I was learning something new my best friends Pen & Paper were there to help!
    </p>
    <p>It was not only about rewriting things I was reading/listening to but also 'explanting' new concepts to the notebook. <br/>
    </p>
    <h2>3) The idea of helping someone else with "my journey"</h2>
    <p>Besides the previous two, maybe a bit selfish goals there is one more noble one: maybe this helps someone! <br/>
       In the past, I stumbled upon a lot of blogs/videos that resonated a lot with me.
    </p>
    <u><b>I am hoping my blog posts will have the same effect on individuals out there!</b></u>

</Blog>

<script>
    import Blog from './blog_base.svelte'
</script>


