<Blog PostLocation='Ergonomics'>
    <div class='imgdiv'> <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/Ergonomics.png' class='imgFull' border="0" alt="Null"/>
     <br/>[<b>Source</b>: https://www.basic-concept.com/c/ergonomics-definition-applications-advantages]
    </div>

    <p>I am a rather tall person and regular stuff doesn't fit me. For the majority of my life, I struggled with back pain - I fixed it just recently.<br/>
    This struggle influenced me a lot to think and perform "Ergo" stuff in my workspace and life.
   </p>

   <p>I have a good amount of experience and some conclusions that I would like to put in writing and share with everyone including myself!</p>
   
   <h1><u>Ergonomics is just one half of a coin!</u></h1>
   <p>This is very important to grasp. You will fix only half of your problem with an ergonomic solution. <br/>
   Here is one good example: It's very important to lift weight properly, from your knees and not your back. <br/>
   However, if you are very stiff and weak, even if you know how to do it properly and try to do it you won't be able to.</p>

   <h2>Trying to get rid of back/neck pain</h2>
   <p>I have invested a lot of time and money into all kinds of ergonomic solution for my workspace:<br/> 
      0) I got monitors that can be adjusted to specific height / or added monitor arms for older ones to do the same. <br/>
      1) I read a lot about how to "properly" sit at your desk and adjust everything just right. <br/>
      2) I tried working from bed, having a monitor suspended above me, etc. That didn't help at all.<br/> 
      3) I went through many office chairs, currently, I am sitting on a very expensive chair that I spent 2 months adjusting so it's good to sit on. <br/> 
      4) I got myself a standing desk with an anti-fatigue mat to stand on.<br/>
      5) I made a DIY walk/stand/sit desk.<br/></p>

   <h2>How I got rid of back/neck pain in the end?</h2>
   <p><u>By moving as much as I can and then some more!</u> Don't be stuck in the same position, stand up, walk. Improve your posture. <br/>
    Workout daily - you don't need much, basic 5-10min exercises in the morning can do wonders, <u>get strong!</u></p>
   <p><u>Additional tip</u>: To improving your posture: <a href='https://www.uprightpose.com/' target="_blank"> Upright device</a> - it's gonna remind you by vibrating to get back up-right!</p>

   <h2>Don't be afraid to get uncomfortable </h2>
   <p>I am not saying you shouldn't get your monitor at the correct high, or sit on the edge of the chair and have a bad posture. <br/>
    I am trying to send a message that hunting for the ultimate comfy experience can do you more bad than good. <br/>
    It's a lot better to be in motion than to be static, laying back in your chair or bed.</p>
   <p>If you get too comfortable in your chair what ends up happening is you slouch down and get into bed posture which leads to pain. <br/>
    Also, you will be less likely to move which is the opposite of what's good for you.</p>
   <p>I am personally guilty of going too far with making myself too comfortable, which in the end has done me more bad than good. Movement is the key!</p>

   <h2>Sleep well</h2>
   <p>We all with no exception spend a lot of time sleeping, between 6 to 9 hours each day! <br/>
   There is a lot of value then in getting a good quality firm mattress. My personal experience says: avoid memory foam at all cost! <br/>
   They are usually very bad, they don't breathe and you get very hot which lowers your sleep quality. <br/>
   For not that much money you should be able to get a good firm regular mattress that will do you a good one! If having neck issues maybe your pillow is the guilty one!</p>

   <h2>Stretch and workout</h2>
   <p>The best habit you can develop is starting each and every day with a short workout, like brushing your teeth! <br/>
   This workout shouldn't take more than 10 minutes including stretching so mentally it's very easy to commit to doing it. <br/>
   Also, try to find basic body exercises without any equipment, you just need to find a bit of space and that's it!</p>
   <p>Additionally, one good thing to do is stretch, for example, I keep a poll near my desk. I use it to stretch my shoulders/neck from time to time. <br/>
   Be creative you can do a lot with not that much. Also before sleep doing 15 seconds basic stretch is helpful. <br/></p>

   <h2>Workspace</h2>
   <p>If you are working by sitting at the desk and looking at monitors the whole day then there is huge value in getting more ergonomic solutions around you to enable proper posture and a lot of movement!</p>

   <h2>Desk</h2>
   <p>As far as the desk goes, it's important to have a good size desk, that's basic. <br/>
    I consider 160x80cm to be a really good size, you can fit chair/stand area on one side and treadmill on the other. <br/>
    Now having a sit/stand/walk desk is a bit expensive or complex to do on your own, however seriously consider sit/stand one! <br/>
    <u>They are very cheap these days</u>. I a motorized kit(<a href="https://shtechnology.en.alibaba.com/product/62333959275-819285898/Dual_motor_Electric_Stand_up_Desk_Frame_Height_Adjustable_Ergonomic_Sit_Stand_Desk_Base_With_3_Stages.html?spm=a2700.shop_index.82.15.55e7337eAoveMU" target="_blank">SHB310-D650</a>) locally for 300 bucks, it has memory(<u>a MUST!</u>) and 3 split legs (good range).<br/>
    Get any desktop to slap on top of it and there you go.</p>
    <p>If you choose to go walk the DIY route with a treadmill and motorize desk here is something that may help <a href='https://gitlab.com/ergozage/diytreadmillcontrol' target='_blank'>DIY treadmill controller</a> <br/>
    Here is one motivational video: <a href='https://www.youtube.com/watch?v=ULiQz-ddxjI&ab_channel=Lucy%27sCorsetry' target="_blank">Treadmill Desk Changed my Life</a>.</p>

    <h2>Around desk</h2>
    <p>If you can walk, walk as much as you can. That's the best for sure! For standing get an anti-fatigue mat, you will make micro-movements, shift weight, etc. <br/>
    I currently use <a href='https://www.google.com/search?q=Herman+Miller+Embody' target='_blank'>Herman Miller Embody</a> to sit down. <br/>
    I would say it's the best you can get but you have to spend a lot of money and time to adjust it, it's not a chair that works from day one...</p>
    <p>Recently I started experimenting with just a high bar stool to lean on from time to time - I am loving it so far!<br/>
    Why? Two things, you can keep the desk in higher positions, so it's easier to switch to stand/walk. <br/>
    Additionally, it's not strict at all, it lets you lean front-back, move side to side, etc. But most importantly <u>it's uncomfortable(YES!)</u> </p>
    <div class='imgdiv'> 
        <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/desk_sit_2.jpg' class='imgHalf' border="0" alt="Null"/>
        <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/desk_sit_1.jpg' class='imgHalf' border="0" alt="Null"/>
    </div>
    <p> Now you may think I am crazy, however, if you are not that comfy you will sit for a short period and get up again and keep moving! <br/>
    And this is the GOAL! So you don't have to think and organize how much to stand/walk and how much to sit - it comes naturally. <br/>
    When you are a bit tired sit-down, and when you are not that comfortable sitting (usually after 20-30 minutes), stand up and move! <br/>
    P.S. Don't walk on a treadmill without good comfy sneakers, it's a very hard surface, this was just a photoshoot!</p>
    <div class='imgdiv'> 
        <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/desk_stand.jpg' class='imgHalf' border="0" alt="Null"/>
        <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/desk_walk.jpg' class='imgHalf' border="0" alt="Null"/>
    </div>
    
    <p><u>Additional tip</u>: If you choose to sit down completely on a regular chair get something to rest your feet on, I found "Tilting Leg Rest Stool" works the best and can be made rather easy. </p>
 
    <h2>On desk</h2>
    <div class='imgdiv'> 
        <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/DeskCleaned.jpeg' class='imgFull' border="0" alt="Null"/>
    </div>
    <p>Try keeping the desk clean, it helps mentally and also enables you to move and do more! <br/>
    Set monitors at the correct height for you, arm's length away. If you don't have a high adjustable monitor a cheap option is a book or stack of printing papers.</p>
    <p>When I want to walk monitor goes to the far right on the desk and takes max height. And when standing/sitting monitor goes all the way to the left. <br/>
    To accommodate this need I made a simple movable base from the TV stand on which the monitor is bolted on with its stand that enables the monitor to go up-down.</p>

    <h2>Keyboard and mouse</h2>
    <p>Depending on what you do one or the other is more important. For me, the keyboard is the king - my main tool that does almost everything. <br/>
    So I am making sure I have the best tools that will help me do my job! How I learned the importance of having a good tool, two words: <u>WRIST PAIN!</u> <br/>
    One year into the first job pain in my left hand started getting worse and worse and that's when I went down the rabbit hole of keyboards. </p>
    <p>What's the best keyboard you can get today for not that much money? <a href='https://www.google.com/search?q=Microsoft+Sculpt+Ergonomic' target='_blank'>Microsoft Sculpt Ergonomic</a> Keyboard - it's gonna put your hands in a lot better position!<br/>
    I use my mouse very little and as time goes I do more and more with the keyboard but if I would have to say then <a href='https://www.google.com/search?q=MX+master' target='_blank'>MX master</a> 1 or 2.
    <p><u>Additional tip</u>: If using a regular style keyboard with NumPad and mouse is in your right hand - you will have an issue with your right shoulder! <br/>
    The keyboard with Numpad is too wide, it forces your right hand to be too far away and your shoulder stretches too much. <br/>
    Try dropping the Numpad, you can live without it. If you want it that bad then Sculpt has it separately, or you can switch the mouse to the left hand, not that hard. </p>
    <p>I will do one blog about the keyboard I use, how, and why. For now, will just say "Ergodox".</p>

    <h2>Go outside</h2>
    <div class='imgdiv'> <img src='https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/04_11_21_Ergonomics.svelte/Outside.jpg' class='imgFull' border="0" alt="Null"/>
    </div>
    <p>Go outside and move, climb, dance, run, swim, play! Consider doing some meetings outside, it's a great time to take a walk while the Sun is still out!<br/>
       It's not good for us to be this much inside, to sit and stare at a screen.<br/>
       Also, our eyes suffer, eye muscles get weaker as they have very little to do. This is fixable by going outside and looking at that beautiful nature!</p>
</Blog>

<script>
    import Blog from './blog_base.svelte'
</script>

<style>
    .imgdiv{
        width:70%; 
        margin-left:5%;
    }
    .imgdiv::after {
        content: "";
        clear: both;
        display: table;
    }

    .imgFull{
        max-width:1920px;width:100%
    }
    .imgHalf{
        max-width:960px;width:50%; float: left;
    }
</style>