<script>
    import Blog from "./blog_base.svelte";
</script>

<Blog PostLocation="DeclutterAroundYou">
    <h1>Less is more?</h1>
    <p>
        The expression is rather known, however, do we understand why less
        is more?<br />
        I think I didn't fully, and I had to "walk the path" to get it into my head.
    </p>

    <h2>But having more "stuff" will give you more, right?</h2>
    <p>
        What's so bad about having and wanting more? <br />
        At some point in life maybe we didn't have enough and now it's fun and
        rewarding to have just more!
    </p>

    <p>
        The problem becomes when the "stuff" you acquired is pailing up, creating a clutter that suffocates you!
    </p>

    <h2>Life is simply harder with more</h2>
    <p>
        Owning a lot of things around you gets taxing rather quickly(especially
        if unorganized and/or lacking space) 
    </p>
    <p>
        First of all, you don't know where your things are so you can't find the damn
        thing you need at the moment! <br />
        The most frustrating part is that you know you have it just it's out of reach!
    </p>
    <p>
        Second, you simply have a lot of things that you never used. <br/>
        You see it somewhere, maybe on some video on the internet and it is this super cool item that will help you so much. <br/>
        What ends up happening is you buy it, it arrives, you try it out for a couple
        of minutes, and that's it. It just sits there, creating more mess - waiting
        to be used (usually never happens!) <br/>
        It becomes just a chore, something that bothers you, something you have to move, reorganized, think about, etc.
    </p>

    <p>
        I have lived for 3 years in a one-bedroom apartment and this is what I accumulated:
    </p>
    <div class="imgdiv">
        <img
            src="https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/07_02_21_DeclutterAroundYou/Clutter.jpg"
            class="imgFull"
            border="0"
            alt="Null"
        />
        This is after a lot of "purging" already done in multiple iterations (selling
        stuff, giving it away, just throwing it into the garbage)
    </div>
    <p>
        3 desks, multiple chairs, a lot of tools (rarely used), keyboards, monitors, etc. <br />
        The worst part most of the time I didn't know where is the thing I needed...<br/>
        And I had to live with all of these items around me that became a burden, sucking up my energy and time.
    </p>
    <h2>The process</h2>
    <p>
        It was a long and painful process, around 10 serious 
        iterations were needed in the past year. <br />
        Each iteration cost me at last 2 days so I spent a whole month actively working to get this under control.<br />
        This time I could have put to something a lot more pleasing and meaningful instead of going through garbage!<br/><br/>
        Finally, after I moved to a new apartment I realized that enough is enough
        and made a very clear goal and plan. <br />
        I constrain how much space can I use per category: <br />
        Tools got this
        <a href="https://www.google.com/search?q=yato+YT-09101" target="_blank">toolbox</a>
        and one
        <a href="https://www.google.com/search?q=workmate" target="_blank">workmate</a>
        portable desk with a couple of clamps <br />
        One smaller box for keyboards, and one medium size box for miscellaneous items (I want to get rid of those also) <br/>
        I have a small 3D printer(this brings Joy), two monitors, a chair, a personal machine, a work machine, a motorized desk, and a treadmill. <br/>
    </p>
    <p> <b>I feel very proud :)</b> <br/>
        There is still a bit more to do but I have conquered this part of my life and will keep it that way in the future!</p>

    <div class="imgdiv">
        <img
            src="https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/07_02_21_DeclutterAroundYou/Declutter_1.jpg"
            class="imgHalf"
            border="0"
            alt="Null"
        />
        <img
        src="https://gitlab.com/ergozage/blog/-/raw/master/src/blog_img/07_02_21_DeclutterAroundYou/Declutter_2.jpg"
        class="imgHalf"
        border="0"
        alt="Null"
    />
    </div>
    <h2>Poor values</h2>
    <p>
        As a final note, I think this is important to consider. <br/>
        Maybe we have poor values and misunderstand what will bring real Joy. <br />
        Acquiring some new "toy" can provide just temporary happiness, a "hit"
        so to say.<br />
        However, at last in my experience, very few material things provide true
        Joy.
    </p>
</Blog>

<style>
    .imgdiv {
        width: 70%;
        margin-left: 5%;
    }
    .imgdiv::after {
        content: "";
        clear: both;
        display: table;
    }

    .imgFull {
        max-width: 1920px;
        width: 100%;
    }
    .imgHalf {
        max-width: 960px;
        width: 50%;
        float: left;
    }
</style>
