<Blog>
    {#each blogPosts as bs}
    <BlogListItem
        PostDate = {bs.postDateStr} 
        PostTitle = {bs.postTitle}
        PostLocation = {bs.postLocation}/> 
    {/each}
</Blog>

<script>
    import Blog from './blog_base.svelte'
    import BlogListItem from './blog_list_item.svelte'
    import blogPosts from '../BlogPostLookups.js'

</script>