<script>
    export let PostDate = ''
    export let PostTitle = ''
    export let PostLocation = ''
</script>

<div id = 'blog_post'>
    <a id = 'post_location' href="#/{PostLocation}">{PostTitle}</a>
    <div id='post_date'>{PostDate}</div>   
</div>

<style>
    #post_location{
        font-weight: bolder;
        font-size: x-large;
    }
    #blog_post {
        padding: 20px;
    }
    #post_date {
        text-align: start;
        padding-top: 5px;
    }

</style>