<script>
    import {fade} from 'svelte/transition'
    export let PostLocation = ''
</script>

<div in:fade="{{duration: 500}}" id="wrap">
    <div id="content">
    <slot />

    </div>
</div>

<style>
    
    #wrap {
        float: left;
        position: relative;
        left: 50%;
    }
    
    #content {
        font-size: large;
        float: left;
        position: relative;
        left: -50%;
    }
</style>